.jumbotron {
    box-shadow: 5px 5px 7px 0px rgba(71, 71, 71, 0.83);
    background-image: url("https://www.telegraph.co.uk/content/dam/books/2020/10/27/TELEMMGLPICT000242555704_trans_NvBQzQNjv4Bq900leoZVuq6ru6F43OqP_jlaTMTxUhlzF8Rkw038U-A.jpeg?imwidth=1280");
    background-size: cover;
    height: 500px;
    background-position: center;
}

.myText {
    color: rgb(0, 183, 255);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-weight: bold;
    font-size: 56px;
    position: relative;
    transform: translateY(100px)
}